@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  font-family: "Work Sans", "sans-serif";
}
/* Shared Styles */
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  width: 180px;
  height: 64px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
/* Header section related styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 150px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-title {
  font-size: 2rem;
  font-weight: 700;
  color: #131313;
  align-items: center;
}
nav > ul {
  display: flex;
  list-style: none;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  gap: 30px;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner img {
  width: 100%;
}

/* main styles Starts from here */
main {
  max-width: 1000px;
  margin: 0 auto;
}
.team-container {
  display: flex;
  align-items: center;
  margin: 65px auto;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.teams-content {
  padding-left: 50px;
  padding-right: 0px;
}

.teams-title {
  font-size: 40px;
}
.text-gray {
  color: #727272;
  font-weight: 500;
}

.of-our {
  color: #131313;
  font-weight: 700;
}
.feature-text-color {
  color: #ff900e;
  font-weight: 700;
}
.teams-description {
  color: #727272;
  width: 380px;
  font-size: 16px;

  font-weight: 400;
  line-height: 26px;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
  header {
    padding: 10px;
  }
  nav,
  .team-container {
    flex-direction: column-reverse;
  }
  .team-img-container {
    grid-template-columns: repeat(1fr);
  }
}

/* Responsive styles for Tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 45px;
  }
  nav {
    flex-direction: column;
  }
  .team-container {
    flex-direction: column-reverse;
  }
  .team-img-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
